ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #222;
}
li {
 float: left;
}
li a {
 display: flex;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}


a:active {
    background-color: red;
}

/* #navigation li a.current{
   color: #red;
   background:#white;
} */

a.current{
   color: red;
   background:white;
}
