a {background-color: red;}
body {
  text-align: left;
  justify-content: flex-start;
  font-family: 'Lobster', cursive;
  color:#0D0630 ;
  font-size: 18px ;

}

h1 {
  text-align: left;

  font-family: 'Lobster', cursive;
    font-size: 20px ;
    color: #8BBEB2;
    margin-left: 0px;
}
